.recipe {
    background-color: #f6f1e9;
    height: 100vh;
}

.recipe-content {
    min-height: 88vh;
    margin: 10px;

    border-radius: 20px;
    box-shadow: 0 5px 5px 3px rgba(47, 47, 55, 0.21);
    border: solid 1px #ffb803;
    background-color: #ffb803;

    overflow: auto;
}
