.recipes-list {
}

.recipes-list-item {
    text-decoration: none;
}

.recipe-card-ingredients {
    background-color: lightblue;
    font-size: 8px;
    width: 45%;
    margin: 5px;
    height: 60px;
    overflow: hidden;
}

.recipes-list-header {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.recipes-list-header--logo {
}

.recipes-list-header--title {
    width: 123px;
    height: 36px;
    object-fit: contain;
    font-family: Pacifico;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #000000;
}
