.recipe-content-main {
    /* width: 615px; */
    min-height: 100%;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 10px 10px 5px rgba(47, 47, 55, 0.21);
    border: solid 1px #ffb803;
    background-color: #dde2e5;
}

.recipe-content-main--info {
    /* width: 560px; */
    /* height: 64px; */
    padding: 11px;
    opacity: 0.87;
    font-family: "Nunito Sans", sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: #000000;
}

.recipe-content-header--name {
    /* width: 256px; */
    /* height: 51px; */
    font-family: "Playfair Display", serif;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;

    text-align: left;
    padding-left: 8px;
    margin-top: 12px;
}

.recipe-main-button {
    width: 50%;
    height: 30px;
    /* border-radius: 39px; */
    /* box-shadow: 0 10px 10px 5px rgba(47, 47, 55, 0.21); */
    border: solid 1px #ffb803;
    background-color: #ffffff;

    font-family: "Playfair Display", serif;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.ingredients-list {
    text-align: left;
    list-style: none;
    padding: unset;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.ingredients-list-item {
    margin: 10px;
    padding-left: 10px;
    width: 90%;
    min-height: 35px;
    opacity: 0.77;
    border-radius: 9px;
    background-color: #ffffff;

    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.32;
    letter-spacing: normal;
    color: #000000;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ingredients-list-item--clicked {
    opacity: 0.5;
    text-decoration: line-through;
}

.ingredients-list-item--clicked > .path {
    width: 20px;
    height: 8px;
    transform: rotate(-45deg);
    border-left: solid 3px #000000;
    border-bottom: solid 3px #000000;
}

.ingredients-list-item__checkbox {
    display: none;
}

.ingredients-list-item:first-child {
    margin-top: 0px;
}

.preparation-list {
    text-align: left;
    list-style: none;
    padding: unset;
    margin: 0;
}

.preparation-list-item {
    margin: 10px;
    padding-left: 10px;
    width: 90%;
    min-height: 35px;
    opacity: 0.77;
    border-radius: 9px;
    background-color: #ffffff;

    font-family: "Nunito Sans", sans-serif;
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.32;
    letter-spacing: normal;
    color: #000000;

    padding-top: 8px;
}

.preparation-list-item__header {
    font-family: "Playfair Display", serif;
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.preparation-list-item__content {
    font-family: "Nunito Sans", sans-serif;
    font-size: 15px;
    /* font-weight: normal; */
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #000000;
    padding-top: 8px;
    padding-bottom: 8px;
}

.preparation-list-item:first-child {
    margin-top: 0px;
}

.preparation-list-item--clicked {
    opacity: 0.5;
    /* text-decoration: line-through; */
}

.preparation-list-item--clicked > div {
    display: none;
}
